nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1, nav {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

h2,p {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 65% 25%;
}

aside {
    border-left: 1px solid black;
    margin: 10px;
}

li {
    margin: 10px;
}

footer {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}